/*

Estilos para el bloque de agenda.

*/

.agenda-reus {
    margin: 2em 0;
    border-top: 2px solid black;
    padding-top: 0.5em;
}

.agenda-reus-header {
    margin: 1em 0 2em;
}

.agenda-reus-title{
    font-size: 1.25em!important;
}
.agenda-reus-fecha {
    font-weight: 300;
}

.agenda-reus .evento {
    display: flex;
    flex-wrap: wrap;
    background: #f4f4f4;
    overflow: hidden;
    margin: 0.75em 0;
    align-items: stretch;
    font-family: "Lato", sans-serif;
}

.agenda-reus .evento .evento-time {
    padding: calc(1em + 35px) 0.5em 1em;
    flex: 0 1 20%;
    text-align: center;
    font-size: 0.9em;
    display: block;
    background-image: url("data:image/svg+xml, %3Csvg aria-hidden='true' focusable='false' data-prefix='far' data-icon='clock' class='svg-inline--fa fa-clock fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='currentColor' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z'%3E%3C/path%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center 1em;
    background-color: #daf9e5;
}

.agenda-reus .evento .evento-info {
    padding: 1em;
    flex: 2 0 80%;
}

.agenda-reus .evento .evento-info .evento-title {
    font-size: 1em!important;
    font-weight: 900;
    display: block;
}

.agenda-reus .evento .evento-link {
    flex: 1 1 100%;
    text-align: center;
    font-size: 0.9em;
    display: flex;
}
.agenda-reus .evento .evento-link a {
    color: #0986bb;
    flex: 1 1 50%;
    padding: calc(1.5em + 24px) 0.5em 1em;
    background-image: url(img/info-circle-duotone.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center 1em;
    background-color: rgb(213, 225, 242);
    text-decoration: none;
}
.agenda-reus .evento .evento-link a.link2 {
    background-image: url(img/video-duotone.svg);
}

/* Estilos responsive */
@media screen and (min-width: 700px) {
    .agenda-reus .evento .evento-info {
        flex: 1 1 60%;
    }
    .agenda-reus .evento .evento-link {
        flex: 1 1 20%;
        flex-wrap: wrap;
    }
    .agenda-reus .evento .evento-link a {
        flex: 1 1 100%;
    }
}
